*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #212529;
    color: #ddd
}



::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }




::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}
