:root{
  --accept-green: #31af40;
  --cancel-red: #da2b1d;
  --main-black: #212529;
  --main-font-color: #ddd;
  --main-purple: #6a5bcd;
  --main-gray: #32363a;
}
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
}
body{
  font-family: 'IBM Plex Mono';
  background-color: #212529;
  color: #ddd;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }




::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

.wrapper{
  margin-top: 40px;
}

