:root{
  --main-green: #31af40;
  --main-green-hover: #268a31;
  --main-red: #da2b1d;
  --main-brightred: #fd5c63;
  --main-pink: #cc2b5e;
  --main-black: #212529;
  --main-darkgray: #32363a;
  --main-font-color: #ddd;
  --main-purple: #6a5bcd;
  --main-navy: rgb(24, 49, 83);
  --main-navyA3: rgba(24, 49, 83, 0.3);
  --main-navy-hover: rgb(14, 29, 49);
  --main-white: rgb(250, 250, 250);
  --main-gray: rgb(235, 236, 238);
  --main-gray50: rgb(205, 206, 208);;
  --main-grayA3: rgba(235, 236, 238, 0.3);
  --main-whitegray: #9a9a9a;
  --main-gray-hover:rgb(131, 142, 155);
  --main-eggshell: #D0EAD6;
  --main-lightblue: #B9D9EB;
  --main-cyan: #1abc9c;
  --main-blue: rgb(70, 130, 180);
  --main-bluegray: rgba(70, 130, 180, 0.5);
  --main-lightblue: rgb(135, 206, 235);
  
  --alert-orange: #ff7800;
  --alert-red: #B33A3A;
  --alert-green: #5cb85c;


  --height-laptop: calc(100vh - 108px);
  --height-phone: calc(100vh - 70px);

}
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
}

a{
  line-height: 0px;
}
html{
  height: 100%;

}
body{
  min-height: 100%;
  font-family: 'Raleway';
  background-color: var(--main-white);
  color: var(--main-navy);

  justify-content: center;


}
#root{
  min-height: 100vh;
  position: relative;
}

.wrapper{
  min-height: 100vh;
  padding-top: 60px;
}


.contentWrapper{
  padding-top: 40px;
  background-color: var(--main-white);
  padding-bottom: 100px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

::-webkit-scrollbar-thumb {
  background: var(--main-gray50);
  border-radius: 10px;
}


@media screen and (max-width: 767px) {
  .wrapper{
    padding-top: 50px;
  }
  .contentWrapper{
    padding-top: 10px;
  }
}
