.modal {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: open 0.2s forwards ease-in-out
}

.modal.closing {
    animation: close 0.2s forwards ease-in-out
}


.modalContent{
    min-width: 250px;
    background-color: #ddd;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

}

@keyframes close{
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes open{
    from{opacity: 0;}
    to{opacity: 1;}
}

