.container{
    padding: 10px 30px;
    height: 60px;
    display: flex;
    background-color: var(--main-gray);
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    transition: transform 0.2s;



}
.container.hideNavbar{
    transform: translateY(-60px);

}
.logout {
    height: max-content;
    margin-top: 7px
}



.mailIcon{
    vertical-align: top;
    position: relative;
}
.mailIcon > span{
    color: red;
    position: absolute;
    right: -3px;
    display: block;
    zoom: 3;
    top: 5px;
    line-height: 0;
}

.leftSide{
    display: flex;
    column-gap: 15px;
    height: 40px;
    align-items: center;

}
.rightSide{
    height: 40px;
    display: flex;
    align-items: center;
}
.navbarItem{
    height: 30px;
    width: 30px;
    
}


@media screen and (max-width: 767px) {
    .container{
        height: 50px;
        padding: 10px 15px
    }
    .leftSide{
        column-gap: 10px;
        height: 30px;
    }
    .rightSide{
        height: 30px;
    }
    .navbarItem{
        width: 24px;
        height: 24px;
    }


    .navbarItem svg{
        width: 100%;
        height: 100%;
    }

}