

.additionalControl{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.controlItem {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controlItem:hover{
    background-color: #eee;
}

.controlItem > i{
    color: #444;
    margin: 0px;
    font-size: 24px;
    transition: none;
}

.controlItem > i:hover{
    color: #444;
}

.addMarkerAction{
    cursor: url('./../../media/img/markerCursor.png'), auto;
}



.popupInput{
    position: absolute;
    top: 10px;
    left: 50px;
    right: 50px;
    z-index:1000;
}

.popupInput > input {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(3px);
    color: black;
    font-size: 24px;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.popupInput > input::placeholder{
    color: black
}