.choice{
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.noRecipientsSelected{
    margin-bottom: 10px;
}
.category{
    display: flex;
    justify-content: center;
    color: var(--main-red)
}
.choice > svg {
    cursor: pointer;
}

.eventInformationContainer{
    font-size: 16px;
}

.recipient a{
    text-decoration: none;
    color: inherit;

}

.requester a{
    text-decoration: none;
    color: inherit;
}

.cancelEventButton > button{
    color: black;
    border: 2px solid var(--main-red);
    margin-top: 5px;
    
}

.cancelEventButton > button:hover{
    background-color: var(--main-red);
    color: #ddd;
}
.cancelEventButton {
    display: flex;
    justify-content: center;
}