.choice{
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.noRecipientsSelected{
    margin-bottom: 10px;
}
.category{
    display: flex;
    justify-content: center;
    color: var(--main-red)
}
.choice > svg {
    cursor: pointer;
}

.eventInformationContainer{
    font-size: 16px;
}

.recipient a{
    text-decoration: none;
    color: inherit;

}

.requester a{
    text-decoration: none;
    color: inherit;
}


.cancelEventButton {
    display: flex;
    justify-content: center;
}

.myDivIcon{
    font-size: 24px;
}



i{
    font-size: 32px!important;
}


.bar{
    color: rgb(171, 96, 179)
}


.dinner{
    color: #FFC72C;
}



.relaxation{
    color: rgb(122, 224, 11)
}


.leisure{
    color: rgb(224, 195, 117)
}


.education{
    color: rgb(123, 142, 243)
}


.health{
    color: #FF3800;
}


.holiday{
    color: var(--main-lightblue);
}


.work{
    color: #8FBC8B;
}

.travel{
    color: #EE82EE;
}

.shoping{
    color: #F400A1
}

.borderForIcon{
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}