.map {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    z-index: 0;

}
.mapContainer{
    height: 800px;
    width: 1400px;
}




@media screen and (max-width: 767px){
    .mapContainer{
        height: calc(100vh - 137px);
        width: auto;
    }
    .map{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

}