.map {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0px;
    margin-top: 0px;
}


.mapIsLoading{
    border: 2px solid red
}

@media screen and (max-width: 767px){
    .wrapper{
        height: 50vh;
        width: 100%;
    }

}