.container{
    display: flex;
    padding: 0px;
    height: 800px;
}

.sortPanel{
    display: block;
    padding: 20px 5px;
}


.panelContainer{
    position: relative;
    width: 300px;
    overflow-y: auto;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--main-gray);

}

.strictSort > label{
    margin-right: 5px;
}
.acceptedSort > label{
    margin-right: 5px;
}
.dateSort > label{
    margin-right: 5px;
}
.dateSort > input{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid var(--main-navy);
 
}
.dateSort > span{
    cursor: pointer;
}
.dateSort > input:not(.active)::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
.dateSort > input:not(.active)::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
.dateSort > input:not(.active)::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
.dateSort > input:not(.active)::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}





.categorySelect:focus{
    outline: none
}

.friendsSelect{
    margin-top: 20px;
    width: 100%;
}


.chosen{
    background-color: slategray;
    border-radius: 10px;
}


.mapGeoErrorContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.mapGeoErrorIcon{
    font-size: 118px;
}
.mapGeoErrorText{
    font-size: 28px;
}

.senderSort{
    margin-top: 10px;
}
.senderSort > label{
    margin-right: 5px;
}

.mobilePanel{
    display: none;
}



@media screen and (max-width: 767px) {
    .container{
        flex-direction: column-reverse;
        max-width: 100%;
        height: auto;
        position: relative;

    }
    .panelContainer{
        display: none;

    }
    .friendsContainer{
        border-radius: 0px;
        height: 240px;
    }
    .mobilePanel{
        display: flex;
        align-items: end;
        font-size: 18px;
        margin: 10px;
        width: min-content;
        
    }

    .panelContainer.visible{
        display: block;
        position: absolute;
        top: 47px;
        width: auto;
        height: calc(100% - 47px);
    }
    .friendsSelect{
        margin-top: 10px;
    }
    .friends{
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .sortMenuIcon{
        transition: all 0.2s;
        margin-left: 5px;
    }
    .sortMenuIcon.visible{
        transform: scaleY(-1);
    }

}