.container{
    width: 800px;
    height: 500px;
    background-color: var(--main-gray);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    /* border-radius: 10px; */
    display: grid;
    justify-content: center;
    grid-template-rows: 100px auto 80px;
}


.heading{
    font-size: 36px;
    justify-self: center;
    align-self: center;
}
.form{
    margin-top: 25px;
    width: 500px;
}

.dateInput{
    width: 100%;
}
.dateInput > input{
    height: auto;
}
.invalidDate > input{
    border-bottom: 2px solid var(--main-red);
}

.dateAndCategory{
    display: flex;
    column-gap: 20px;
}
.formFields{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}



.categorySelect{
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
}

.confirmation{
    display: flex;
    justify-content: center;
    gap: 70px

}

.cancelPopup{
    font-size: 40px;
    height: min-content;
    color: var(--main-red);
}

.acceptPopup{
    font-size: 40px;
    height: min-content;
    color: var(--main-green)
}

.acceptPopup:hover{
    color: green
}
.cancelPopup:hover{
    color: darkred
}

.sendTo{
    height: 35px;
    
    position: relative;
    align-items: center;
}

.sendTo.invalid{
    
}
.userSelectContent{

    display: none;
    height: 100px;
    background-color: var(--main-gray);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 20px;
    overflow: auto;
}
.userSelectContent.active{
    display: block;
}
.userSelectHeading{
    border: 2px solid var(--main-navy);
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 10px;
    height: inherit;
    overflow: hidden;
    justify-content: space-between;
}
.userSelectInformation{
    overflow: hidden;
    display: flex;
    width: 100%;
}
.userSelectInformationPlaceholder{
    width: 22%;
    display: block;
}
.selectedUsersShow{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
}

.userSelectDropIcon{
    padding-right: 3px;
    padding-top: 3px;
}
.userSelectDropIcon > svg{
    font-size: 28px;
}

.userSelectOption{
    cursor: pointer;
    margin-bottom: 5px;
}
.userSelectOption:hover{
    background-color: var(--main-green);
}
.userSelectOption.active{
    background-color: var(--main-whitegray)
}