.container{
    width: 800px;
    height: 500px;
    background-color: var(--main-gray);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    /* border-radius: 10px; */
    display: grid;
    justify-content: center;
    grid-template-rows: 100px auto 80px;
}


.heading{
    font-size: 36px;
    justify-self: center;
    align-self: center;
}
.form{
    margin-top: 25px;
    width: 500px;
}

.dateInput{
    width: 100%;
}
.dateInput > input{
    height: auto;
}
.invalidDate > input{
    border-bottom: 2px solid var(--main-red);
}

.dateAndCategory{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}


.categorySelect{
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
}

.confirmation{
    display: flex;
    justify-content: center;
    gap: 70px

}

.cancelPopup{
    font-size: 40px;
    height: min-content;
    color: var(--main-red);
}

.acceptPopup{
    font-size: 40px;
    height: min-content;
    color: var(--main-green)
}

.acceptPopup:hover{
    color: green
}
.cancelPopup:hover{
    color: darkred
}