.profileInformation{
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    'image information'
    'buttons space';
    
}

.image{
    width: 240px;
    height: 240px;
}
.image > img{
    width: 100%;
}
.information{
    margin-left: 100px;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 20px min-content min-content;
    column-gap: 10px;
    grid-template-areas:
    'space'
    'fullName'
    'username';
    font-size: 48px;
}

.fullName{
    grid-area: fullName
}
.username{
    grid-area: username;
    font-size: 24px;
}

.buttons{
    margin-top: 20px;
    text-align: center;
    grid-area: buttons;
}



@media screen and (max-width: 767px){
    .image{
        width: 120px;
        height: 120px;
    }
    .profileInformation{
        grid-template-columns: min-content auto;
        grid-template-rows: auto auto;
    }
    .information{
        font-size: 24px;
        margin-left: 40px;
    }
    .username{
        font-size: 20px;
    }
}