.container{
    position: relative;
    grid-area: mainContent;
}


.eventsHeading{
    font-size: 24px;
    height: 50px;
}


.events{
    background-color: var(--main-gray);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 30%));
    grid-template-rows: repeat(2, minmax(auto, 120px));
    column-gap: 30px;
    row-gap: 20px;
    
}

.event{
    border-radius: 10px;
    padding: 10px;
    border: 2px solid slategray;
    height: 120px;
    overflow: hidden;
}

.event > div{
    overflow: hidden;
    text-overflow: ellipsis;
}


.noEvents{
    display: flex;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.1);
    border-radius: 30px;
    background-color: var(--main-gray);
    font-size: 20px;
    position: relative;
}

.noEventsIcon{
    position: absolute;
    font-size: 170px;
    z-index: 0;
    filter: opacity(0.5);
    filter:contrast(0.1);
    color: var(--main-orange)

}

.noEventsText{
    color: var(--main-navy);
    font-size: 36px;
    z-index: 1;
}

.moreEvents{
    display: flex;
    justify-content: center;
    align-items: center;
}