.container{
    position: relative;
    width: 100%;
}


.eventsHeading{
    font-size: 26px;
    margin-bottom: 10px;
}


.events{
    background-color: var(--main-gray);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 30%));
    grid-template-rows: repeat(2, minmax(auto, 120px));
    column-gap: 30px;
    row-gap: 20px;
    
}

.event{
    border-radius: 10px;
    padding: 10px;
    border: 2px solid slategray;
    height: 120px;
    overflow: hidden;
}

.event > div{
    overflow: hidden;
    text-overflow: ellipsis;
}


.noEvents{
    display: flex;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.1);
    border-radius: 30px;
    background-color: var(--main-gray);
    font-size: 20px;
    position: relative;
}



.noEventsText{
    color: var(--main-navy);
    font-size: 24px;
    z-index: 1;
}

.moreEvents{
    display: flex;
    justify-content: center;
    align-items: center;
}