.content{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contentItem{
    margin-top: 25px;
    font-size: 24px;
    cursor: pointer;
}

.logout:hover{
    color: var(--main-red)
}

.link{
    text-decoration: none;
    color: var(--main-navy)
}
.link:hover{
    color: var(--main-purple)
}

.logout{
    font-size: 20px;
}