.content{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contentItem{
    margin-top: 15px;
    font-size: 24px;

}
.link{
    text-decoration: none;
    color: var(--main-navy)
}
.link:hover{
    color: var(--main-navy-hover)
}

