.userContainer{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    margin-bottom: 20px;
    /* border: 3px solid var(--main-navy); */
    border-radius: 10px;
    background: var(--main-gray);
}
.userContainer.forMap{
    column-gap: 10px;
    padding: 15px 10px;
    
}
.userInformation{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}
.userContainer.forMap .userInformation{
    column-gap: 10px;
}

.unSelectedFriend{
    cursor: pointer;
    background-color: var(--main-gray);
    transition: background-color 0.2s ease-in-out;
}


.selectedFriend{
    cursor: pointer;
    background-color: var(--main-gray50);
}


.userImage{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    flex-shrink: 0;
}
.userContainer.forMap .userImage{
    height: 64px;
    width: 64px;
}

.userImage > img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.information{
    margin-top: 10px;
    font-size: 24px;
    overflow: hidden;
}
.userContainer.forMap .information{
    margin-top: 0px;
    font-size: 16px;
    overflow: hidden;
    flex: 1;
}


.userFullName{
    font-size: 28px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userFullName > a{
    color: var(--main-navy);
    transition: color 0.1s ease-in-out;
    text-decoration: none;
}
.userFullName > a:hover{
    color: var(--main-gray-hover)
}

.userContainer.forMap .userFullName{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userContainer.forMap .userFullName > a:hover{
    color: var(--main-navy);
}

.userUsername::before{
    content: '@';
}


.pendingForSearch{
    cursor: default;
    background-color: var(--alert-orange);
    padding: 5px 10px;
    border-radius: 25px;
    height: min-content;
    color: var(--main-white)
}
.pendingForSearch::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    content: ' \f017';
}
.friendsForSearch{
    cursor: default;
    background-color: var(--alert-green);
    padding: 5px 10px;
    border-radius: 25px;
    height: min-content;
    color: var(--main-white)
}

.additional{
    display: flex;
    flex-direction: column;
    grid-area: additional;
    height: min-content;
    row-gap: 5px;
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .userContainer{
        column-gap: 10px;
    }
    .information{
        margin-top: 0px;

    }
    .userInformation{
        flex-direction: column;
        row-gap: 10px;

    }
    .userImage{
        width: 86px;
        height: 86px;
    }
    .userFullName{
        font-size: 20px;
    }
    .userUsername{
        font-size: 16px;
    }
    .userContainer.forMap{
        column-gap: 10px;
        padding: 0px;
        flex-basis: calc(33.333% - 10px);
        justify-content: center;
    }
    .userContainer.forMap .userInformation{
        display: flex;
        align-items: center;
    }

}