.customInput{
    width: 100%;
    border: none;
    margin-bottom: 14px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 5px;
    height: 100%;
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom: 2px solid var(--main-navy);
}

input::placeholder{
    color: var(--main-navy);
}
input:focus{
    outline: none
}
