.select{
    background: transparent;
    margin-top: 7px;
    width: 100%;
    outline: 1px solid var(--main-navy);
    border-radius: 2px;
    color: var(--main-navy);
    border: none

}
.select:focus{
    outline: 1px solid var(--main-navy)!important;
}
.select > option:enabled{
    color: var(--main-navy);
    background-color: var(--main-gray);
}


.select > option:disabled{
    color: var(--main-gray-hover);
    background-color: var(--main-gray);
}

