.textarea{
    width: 100%;
    resize: none;
    font-size: 20px;
    height: 110px;
    border-radius: 5px;
    padding: 5px 10px;
    background: transparent;
    border: none;
    outline: 2px solid var(--main-navy);
    
}

.textarea::placeholder{
    color: var(--main-navy);

}
.textarea:focus{
    outline: 3px solid var(--main-navy);
}