.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    flex-direction: column;
}

.errorIcon{
    font-size: 100px;
}

.errorText{
    font-size: 42px;
}

@media screen and (max-width: 767px) {
    .errorIcon{
        font-size: 54px;
    }
    
    .errorText{
        font-size: 24px;
    }
}