.layout{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 30px;
    grid-template-areas:
    "categories"
    "mainElements";

}


.mainContentContainer{
    row-gap: 20px;
    grid-area: mainElements;
    display: grid;
    grid-template-columns: minmax(260px, 20%) auto;
    column-gap: 40px;
    grid-template-areas:
    "sideContent mainContent";
}

