.icon {
    color: var(--main-blue);
    font-size: 30px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-flex;
}
.icon:hover{
    color: var(--main-navy);
}


.icon svg{
    width: 100%;
    height: 100%;
}

@media screen and ( max-width: 767px){
    .icon{
        width: 24px;
        height: 24px;
        font-size: 24px;
  
    }

}